@import './modules/variables/variables.css';
@import './modules/layouts/container.css';
@import './modules/layouts/flexbox.css';
@import './modules/layouts/grid-layout.css';
@import './modules/layouts/section.css';
@import './modules/layouts/title.css';
@import './modules/components/header.css';
@import './modules/components/nav.css';
@import './modules/components/hero.css';
@import './modules/components/list.css';
@import './modules/components/card.css';
@import './modules/content/button.css';
@import './modules/content/link.css';
@import './modules/content/img.css';
@import './modules/utils/utils.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

.body.dark {
  background: var(--secondary-background-color);
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: aliceblue;
}

.switch.active {
  background: black;
  color: rgb(222, 14, 14);
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 300ms;
}

.heros {
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--primary-spacing);
  padding-bottom: var(--primary-spacing);
}

.card__bodys {
  background-color: #2b303b;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
  color: white;
}

.icon {
  display: flex;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.icon--menu {
  transform: scale(var(--i-menu));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--close {
  transform: scale(var(--i-close));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--lg {
  font-size: 1.75rem;
}

.icon i {
  display: flex;
}

.letra{
  color: white;
}

.footer {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 20px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #888;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  .footer-content {
      grid-template-columns: repeat(3, 1fr);
  }
  .footer-content {
      max-width: 1024px;
      margin: auto;
  }
}



*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.contacto {
  padding: 1rem;
  /* background-color: #f1eaea;*/
} 


.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
  color: #707070;
}
.formulario label {
  display: block;
}
.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
  border-radius: 6px;
}
.formulario textarea {
  resize: none;
}

.full {
  grid-column: 1/3;
}

.boton-enviar {
  background-color: var(--primary-main-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: #0f010109;
  outline: 0;
  transition: background-color 2s ease-out;
}



/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form .input-box {
  width: 100%;
  margin-top: 10px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box){
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #149eca;
}
.form button:hover {
  background: #149eca;
}

@media screen and (max-width: 300px) {
  .form .column{
    flex-wrap: wrap;

  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}*/

.circulo{
  width: 120px;
  height: 120px;

  box-sizing: border-box;
  background-clip: content-box;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 49.9%;
  margin-top: -20px;
}  






