@import './modules/variables/variables.css';
@import './modules/layouts/container.css';
@import './modules/layouts/flexbox.css';
@import './modules/components/header.css';
@import './modules/components/nav.css';

.body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

.section {
  padding-top: var(--primary-spacing);
  padding-bottom: var(--primary-spacing);
}

.title {
  margin: 0;
  color: var(--primary-main-color);
  font-size: 2rem;
  text-align: center;
}

.img {
  display: block;
}

.img--logo {
  width: 65px;
  height: 45px;
  /*border-radius: 50%;*/
}

.img--hero {
  width: 256px;
  height: 256px;
  border-radius: 30%;
  box-shadow: -0.25rem -0.25rem 1rem 0.25rem var(--primary-main-color), 0.25rem 5px 1rem 0.25rem #388f7f;
  box-shadow: -0.25rem -0.25rem 1rem 0.25rem rgba(0, 90, 255, 0.8), 0.25rem 5px 1rem 0.25rem rgba(0, 213, 83, 0.8);
}

@media (min-width: 768px) {
  .img--hero {
    width: 320px;
    height: 320px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list--menu {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s;
}

@media (min-width: 768px) {
  .list--menu {
    opacity: 1;
    pointer-events: initial;
    position: initial;
    background-color: initial;
  }
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.25s color;
}

.link:hover {
  color: var(--primary-main-color);
}

.hero {
  min-height: 100vh;
  background-image: url('../img/fondo-codigoweb.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
}

.card {
  max-width: 512px;
}

.card__body {
  background-color: #2b303b;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.card__bodys {
  /*background-color: #2b303b;*/
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.card__title {
  margin: 0;
  font-size: 1.25rem;
}

.card__title--lg {
  font-size: 1.5rem;
}

.card__text {
  margin: 0;
}

@media (min-width: 768px) {
  .card__body {
    gap: 1rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__title--lg {
    font-size: 1.75rem;
  }

  .card__text {
    font-size: 1rem;
  }
}

.icon {
  display: flex;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.icon--menu {
  transform: scale(var(--i-menu));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--close {
  transform: scale(var(--i-close));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--lg {
  font-size: 1.75rem;
}

.icon i {
  display: flex;
}

.button {
  display: flex;
  padding: 0.5em 2em;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-main-color);
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.25s, filter 0.25s;
}

.button:hover {
  box-shadow:
    0 0 0.125rem 0.0625rem var(--primary-main-color),
    0 0 0.25rem 0.125rem var(--primary-main-color);
  filter: brightness(1.125);
}

@media (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}

.g-layout {
  display: grid;
}

.g-layout--1-1 {
  grid-template-columns: 1fr;
}

.g-layout--1-1-1 {
  grid-template-columns: 1fr;
}

.letra{
  color: white;
}

.g-layout--center {
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .g-layout--1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .g-layout--1-1-1 {
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
  }
}



.footer {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links a:hover {
  color: #888;
}

.footer-social a {
  color: #333;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #888;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  .footer-content {
      grid-template-columns: repeat(3, 1fr);
  }
  .footer-content {
      max-width: 1024px;
      margin: auto;
  }
}


.circulo{
  width: 120px;
  height: 120px;

  box-sizing: border-box;
  background-clip: content-box;
  border: 0px solid rgba(0,0,0,0);
  border-radius: 49.9%;
  margin-top: -20px;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 1.5rem;
}

.gap-md {
  gap: 2rem;
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.color-primary {
  color: var(--primary-main-color);
}

.d-flex {
  display: flex;
}

.f-direction-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .md\:d-block {
    display: block;
  }

  .md\:d-none {
    display: none;
  }
}


